@import "@styles/shared";

.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding: min(10%, 4rem);
    gap: 1.5rem;
    @include card(1);

    @include for-tablet {
        gap: 3rem;
    }

    @include for-desktop {
        gap: 4rem;
    }

    &.fitContent {
        height: auto;
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        img {
            height: auto;
            width: 100%;
            max-width: 25rem;
        }

        h1 {
            width: 100%;
            max-width: 25rem;
            margin: 1rem 0 0.5rem;
            @include header;

            @include for-tablet {
                margin: 2rem 0 0.5rem;
            }
        }

        h2 {
            width: 100%;
            max-width: 25rem;
            @include header-small;
            @include text-low;
        }
    }

    footer {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 100%;
        width: 100%;
        row-gap: 2rem;

        .email {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;

            button {
                margin-bottom: 1rem;
                padding: 1rem 1.5rem;
                @include card(2);
            }

            small {
                @include text-small;
                @include text-low;
            }
        }
    }
}
