@import "@styles/shared";

.hero {
    position: relative;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding: 1rem;

    @include for-tablet {
        padding: 3rem;
    }

    @include for-desktop {
        padding: min(3.5%, 4rem);
    }

    @include for-landscape {
        @include for-desktop {
            display: none;
            padding: min(10%, 4rem);
            padding-right: 0;
        }
    }

    &.lateralHero {
        display: none;

        @include for-landscape {
            @include for-desktop {
                display: block;
            }
        }
    }

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 100%;
        padding: min(10%, 4rem);
        gap: 1rem;
        @include card(1);

        @include for-tablet {
            gap: 3rem;
        }

        @include for-desktop {
            gap: 4rem;
        }

        &.fitContent {
            height: auto;
        }

        header {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;

            img {
                height: auto;
                width: 100%;
                max-width: 17rem;
                pointer-events: none;
                user-select: none;

                @include for-desktop {
                    max-width: 25rem;
                }
            }

            small {
                max-width: 25rem;
                margin-top: 1rem;
                text-align: center;
                @include text-small;
                @include text-low;
            }

            h1 {
                max-width: 25rem;
                margin: 0.2rem 0 0.5rem;
                text-align: center;
                @include header;
            }

            h2 {
                max-width: 25rem;
                text-align: center;

                @include header-small;
                @include text-low;
            }
        }

        .logout {
            @include card(2);
            width: fit-content;
            padding: 1rem 2rem;

            @include for-mouse {
                &:hover {
                    scale: 1.1;
                }
            }
        }

        footer {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            gap: 2rem;

            a {
                position: relative;
                height: 3.5rem;
                width: 3.5rem;
                padding: 1rem;
                @include card(2);

                @include for-mouse {
                    &:hover {
                        scale: 1.1;
                    }
                }

                svg {
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }
}
