@import "@styles/shared";

.projectInfo {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    padding: var(--spacing);
    gap: 1.5rem;

    .quickInfo {
        position: relative;
        display: grid;
        column-gap: 1rem;
        grid-template-columns: min-content 1fr;
        grid-template-rows: min-content;
        height: min-content;
        width: 100%;
        row-gap: 0.3rem;

        img {
            grid-column: 1;
            grid-row: 1 / 3;
            height: 5rem;
            width: 5rem;
            pointer-events: none;
            user-select: none;

            @include for-tablet {
                height: 7rem;
                width: 7rem;
            }
        }

        h1 {
            display: flex;
            align-items: flex-end;
            height: 100%;
            width: 100%;
            @include header;
        }

        h2 {
            height: 100%;
            width: 100%;
            @include text;
            @include text-low;
        }
    }

    p {
        width: 100%;
        @include text;

        &.low {
            @include text-low;
        }
    }

    .links {
        position: relative;
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: min-content min-content;
        height: min-content;
        max-width: 20rem;

        a {
            position: relative;
            padding: 0.75rem;
            width: 100%;
            aspect-ratio: 1;
            @include card(2);

            &.qr {
                @include card(3);
                position: relative;
                grid-column: 1 / span 2;
                grid-row: 1 / span 2;

                svg {
                    opacity: 1;
                }
            }

            @include for-mouse {
                &:hover {
                    scale: 1.05;
                }
            }

            svg {
                width: 100%;
                aspect-ratio: 1;
                height: fit-content;
                pointer-events: none;
                user-select: none;
                @include text-low;
            }
        }
    }
}
