@import "@styles/shared";

.sectionTitle {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: var(--gap);

    h1 {
        @include header-medium;
        white-space: nowrap;

        &.notVisible {
            opacity: 0.3;
        }
    }

    form {
        position: relative;
        height: 2.5rem;

        input {
            @include card(3);
            @include text;
            height: 100%;
            width: fit-content;
            padding: 0 1rem;
        }
    }

    .controls {
        position: absolute;
        bottom: 0;
        right: 0.5rem;
        height: fit-content;
        width: fit-content;
        display: flex;
        z-index: 1;
    }
}
