@import "@styles/shared";

.study {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    h1 {
        @include text-bold;
    }

    p {
        @include text;
        @include text-low;
    }

    small {
        @include text-small;
        @include text-low;
    }
}
