@import "@styles/shared";

.details {
    @include page;
    padding: var(--spacing);

    section {
        @include for-phone {
            background-color: rgba(255, 0, 0, 0.576) !important;
        }

        @include for-tablet {
            background-color: rgba(26, 255, 0, 0.576) !important;
        }

        @include for-desktop {
            background-color: rgba(43, 0, 255, 0.576) !important;
        }

        @include card(1);
        position: relative;
        width: 100%;
        height: fit-content;
        min-height: 100%;
        max-width: 80rem;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto;

        @include for-landscape {
            @include for-tablet {
                height: 100%;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 100%;
            }
        }

        .close {
            @include card(2);
            position: absolute;
            top: 0;
            right: 0;
            z-index: 2;
            width: 2.6rem;
            height: 2.6rem;
            padding: 0.4rem;
            translate: 0.5rem -0.5rem;

            @include for-mouse {
                &:hover {
                    scale: 1.1;
                }
            }

            svg {
                width: 100%;
                height: 100%;
            }
        }
    }
}
