@import "@styles/shared";

.home {
    @include page;
    position: relative;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;

    @include light {
        background-color: var(--backgroundLight);
    }

    @include dark {
        background-color: var(--backgroundDark);
    }

    @include for-tablet {
        gap: 0;
    }

    @include for-landscape {
        @include for-desktop {
            position: relative;
            display: grid;
            height: 100%;
            max-height: 100%;
            width: 100%;
            max-width: 100%;
            grid-template-columns: min(27%, 40rem) 1fr;
        }
    }

    .content {
        position: relative;
        width: 100%;
        max-width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow-x: hidden;
        padding-top: 1.5rem;
    }
}
