@import "@styles/mixins.scss";

:root {
    --backgroundLight: #f4f4f4;
    --backgroundDark: #1e212c;
    --textLight: black;
    --textDark: white;

    --font-size: 16px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    overscroll-behavior: touch;
    touch-action: none;
}

html,
body {
    user-select: none;
    position: relative;
    height: 100%;
    width: 100%;
    background-color: var(--backgroundDark);
    color: var(--textDark);
    font-family: "Montserrat", sans-serif;
    font-size: var(--font-size);
    letter-spacing: 0.05rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @include light {
        background-color: var(--backgroundLight);
        color: var(--textLight);
    }

    @include dark {
        background-color: var(--backgroundDark);
        color: var(--textDark);
    }
}

#__next {
    position: relative;
    height: 100%;
    width: 100%;
}

img,
video {
    display: block;
}

a {
    color: inherit;
    text-decoration: none;
}

// Autofill color
:-webkit-autofill,
:-webkit-autofill:hover,
:-webkit-autofill:focus {
    transition: background-color 10000s;
    width: inherit;
    box-sizing: border-box;
    border: 0px solid rgba(255, 255, 255, 0);
    border-radius: 1000px;
    padding: 0;
    font-size: 1rem;
    -webkit-text-fill-color: var(--textDark);

    @include light {
        -webkit-text-fill-color: var(--textLight);
    }

    @include dark {
        -webkit-text-fill-color: var(--textDark);
    }
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

//Remove focus
:focus {
    outline: none;
}

::-moz-focus-inner {
    border: 0;
}

input {
    border: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

/* width */
::-webkit-scrollbar {
    height: 0;
    width: 0;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
