@import "@styles/mixins.scss";

@mixin header {
    font-size: 1.4rem;
    font-weight: 500;

    @include for-tablet {
        font-size: 1.5rem;
    }

    @include for-desktop {
        font-size: 1.7rem;
    }
}

@mixin header-medium {
    font-size: 1rem;
    font-weight: 500;

    @include for-desktop {
        font-size: 1.1rem;
    }
}

@mixin header-small {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.4rem;

    @include for-desktop {
        font-size: 1.1rem;
        line-height: 1.5rem;
    }
}

@mixin text {
    font-size: 0.9rem;
    font-weight: 300;

    @include for-desktop {
        font-size: 1rem;
    }
}

@mixin text-bold {
    font-size: 0.9rem;
    font-weight: 500;

    @include for-desktop {
        font-size: 1rem;
    }
}

@mixin text-small {
    font-size: 0.75em;
    font-weight: 300;

    @include for-desktop {
        font-size: 0.85rem;
    }
}

@mixin text-low {
    opacity: 0.5;
}

@mixin border-radius {
    border-radius: 0.5rem;

    @include for-desktop {
        border-radius: 0.5rem;
    }
}

@mixin card($level) {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 26px 30px -10px, rgba(0, 0, 0, 0.5) 0px 16px 10px -10px;
    @include border-radius;

    @if $level == 1 {
        background-color: #232633;
    } @else if $level == 2 {
        background-color: #2c3041;
    } @else {
        background-color: #9ea5c7;
    }

    @include light {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 26px 30px -10px, rgba(0, 0, 0, 0.2) 0px 16px 10px -10px;

        @if $level == 1 {
            background-color: #e6e6e6;
        } @else if $level == 2 {
            background-color: #d6d6d6;
        } @else {
            background-color: #747474;
        }
    }

    @include dark {
        box-shadow: rgba(0, 0, 0, 0.4) 0px 26px 30px -10px, rgba(0, 0, 0, 0.5) 0px 16px 10px -10px;

        @if $level == 1 {
            background-color: #232633;
        } @else if $level == 2 {
            background-color: #2c3041;
        } @else {
            background-color: #9ea5c7;
        }
    }
}

@mixin page {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
