@mixin header {
    font-size: 1.5em;
    font-weight: 600;
}

@mixin header-small {
    font-size: 1.1em;
    font-weight: 600;
}

@mixin text-bold {
    font-weight: 600;
}

@mixin text-small {
    font-size: 0.75em;
    font-weight: 600;
}

@mixin text-low {
    opacity: 0.5;
}

@mixin card($level) {
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 26px 30px -10px, rgba(0, 0, 0, 0.7) 0px 16px 10px -10px;

    @if $level == 1 {
        background-color: #232633;
    } @else if $level == 2 {
        background-color: #2c3041;
    } @else {
        background-color: #9ea5c7;
    }

    @include light {
        @if $level == 1 {
            background-color: #e6e6e6;
        } @else if $level == 2 {
            background-color: #d6d6d6;
        } @else {
            background-color: #747474;
        }
    }

    @include dark {
        @if $level == 1 {
            background-color: #232633;
        } @else if $level == 2 {
            background-color: #2c3041;
        } @else {
            background-color: #9ea5c7;
        }
    }
}

@mixin page {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
